<a href="https://colab.research.google.com/github/sagarikaraje/Machine-Learning/blob/master/CW_J074_11072020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

FUNCTIONS AND GLOBAL VARIABLES

In [4]:
a = 5
b = 6
c = 9

In [5]:
def printer():
  print(a+b)
def sum(a,b):
  print(a+b)

In [6]:
printer()

11

In [7]:
sum(a,c)

14

CONVERTING BINARY NUMBERS TO DECIMAL

In [9]:
str(int('101',2))

'5'

END OF LINE IN STRINGS

In [14]:
def printfunct():
  a = 'my name\n is\
  sagarika\
  raje'
  print(a)
printfunct()

my name
 is  sagarika  raje

NAME MANGLING, CLASSES, OBJECTS AND CONSTRUCTORS

In [15]:
class student:
  def __init__(self, name):
    self.name = name
  def displayName(self):
    print(self.name)

x1 = student('Santosh')
x1.displayName()

print(x1.name)

Santosh
Santosh

In [16]:
class stud(student):
  def __init__(self, a, name):
    self.a = a
    student.__init__(student, name) 

x2 = stud(45, 'Santosh')
print(x2.name)
print(x2.a)

Santosh
45